@media (max-width: 1100px)
{
  .contact-wrapper div:nth-child(1) {
    margin-bottom: 20px;
  }

  .services-preview-items, .contact-wrapper, .products, .product-questions, .location-wrapper {
    flex-direction: column;
    width: auto;
  }

  .services-preview-image {
    display: none;
  }

  .section-half .section-wrapper, .section-half .section-wrapper > div, .contact-wrapper > div, .product-questions div:nth-child(1), .footer-wrapper {
    width: auto !important;
  }

  .product-questions div:nth-child(1) {
    text-align: center;
  }

  .location-wrapper {
    justify-content: center;
    text-align: center;
  }

  .location-info {
    margin-bottom: 20px;
  }

  .footer-wrapper {
    padding: 0 20px;
  }

  .services-preview-item {
    margin-bottom: 20px;
  }

  .services-preview-item img {
    width: 100%;
  }

  .services-preview-item h2 {
    margin-top: 0;
  }

  .section, .banner {
    padding-left: 20px;
    padding-right: 20px;
  }

  .product {
    margin-bottom: 30px;
    border: 1px solid #f3f3f3 !important;
  }

  .products {
    border: none;
  }

  .products-bottom {
    margin: 0;
  }
}