@media (max-width: 800px)
{
  .banner-title h1 {
    font-size: 9vw;
  }

  .banner {
    height: 50vh;
  }

  .product-time-options a {
    font-size: .8em;
  }

  .banner-label {
    font-size: 4vw;
  }
}